# Enforce LF for all text files
* text=auto

# Exclude binary files from line-ending conversion
*.png binary
*.jpg binary
*.gif binary
*.exe binary
*.dll binary
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf
*.ts text eol=lf
*.jsx text eol=lf
*.tsx text eol=lf